$primary: #6e56e0;
$secondary: #1E1E1E;
$gray_shade_01: #272727;
$gray_shade_02: #898989;
$gray_shade_03: #333;
$gray_shade_04: #2c2c2c;
$gray_shade_05: #2e2e2e;
$white: #FFF;
$black: #000;
$yellowish: #f5a623;
$greenish: #288A05;